.navbar {
	@apply flex flex-col items-stretch sm:gap-4 p-4 sm:pr-0 bg-tone1 text-white;
}

.navbar h1 {
	@apply w-full sm:pr-6 pb-0 text-3xl text-center font-bold whitespace-nowrap;
}

.mdNav {
	@apply hidden sm:flex sm:flex-col;
}

.mdNav a {
	@apply relative flex items-center gap-2 px-3 py-2 text-lg rounded-lg duration-200;
}

.mdNav a::before {
	content: "";
	@apply sm:absolute w-4 h-4 -top-4 sm:right-0 sm:bg-transparent sm:shadow-[0.4rem_0.4rem_var(--color-muted)] rounded-lg duration-200;
}

.mdNav a::after {
	content: "";
	@apply sm:absolute w-4 h-4 -bottom-4 sm:right-0 sm:bg-transparent sm:shadow-[0.4rem_-0.4rem_var(--color-muted)] rounded-lg duration-200;
}

.mdNav .active {
	@apply flex items-center gap-2 bg-skin-main text-tone1 rounded-xl sm:rounded-r-none;
}

.mdNav a.active::before {
	content: "";
	@apply sm:shadow-[0.4rem_0.4rem_var(--color-background-main)];
}

.mdNav a.active::after {
	content: "";
	@apply sm:shadow-[0.4rem_-0.4rem_var(--color-background-main)];
}

.mobileNav {
	@apply sm:hidden flex flex-col text-lg;
}

.mobileNav a {
	@apply flex items-center gap-2 px-4 py-2;
}

.mobileNav .active {
	@apply pl-8 bg-skin-main text-tone1 rounded-lg;
}
